  <!-- Start Testimonial section -->
  <section id="testimonial">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <div class="title-area">
                <h2 class="title"><font color="#FFFFFF">Testimonials</font></h2>
                <span class="line"></span>           
              </div>
            </div>
            <div class="col-md-12">
              <!-- Start testimonial slider -->
              <div class="testimonial-slider">
                <!-- Start single slider -->
                <div class="single-slider">
                  <div class="testimonial-img">
                    <img src="assets/images/male.jpg" alt="testimonial image">
                  </div>
                  <div class="testimonial-content">
                    <p><b>AcademWare has really changed the way my child learns at school, his marks have really improved</font></b></p>
                    <h6>Rufaro</h6>
                  </div>
                </div>
                <!-- Start single slider -->
                <div class="single-slider">
                  <div class="testimonial-img">
                    <img src="assets/images/female.jpg" alt="testimonial image">
                  </div>
                  <div class="testimonial-content">
                    <p><b>I have never seen a service like AcademWare before, its like my own personal CCTV of my childs entire life while they are at school LOL, truly amazing</b></p>
                    <h6>Rutendo</h6>
                  </div>
                </div>
                <!-- Start single slider -->
                <div class="single-slider">
                  <div class="testimonial-img">
                    <img src="assets/images/male.jpg" alt="testimonial image">
                  </div>
                  <div class="testimonial-content">
                    <p><b>This is a quite unique and revolutionary service that will change and redefine the way tutology is conducted. I am impressed.</b></p>
                    <h6>Michael</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6"></div>        
      </div>
    </div>
  </section>
 